[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]



[requires]

python_version = "3.6.6"


[packages]

django = "*"
django-csvimport = {git = "https://github.com/xavierlesa/django-csvimport.git"}
gunicorn = "*"
django-heroku = "*"
