[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.6.5"

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
googlemaps = "*"
simplekml = "*"
