{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>מוסדות חינוך בתל אביב</title>
    <style>
      html, body {
        height: 370px;
        padding: 0;
        margin: 0;
        }
      #map {
       height: 500px;
       width: 70%;
       overflow: hidden;
       float: right;
       border: thin solid #333;
       }
      #capture {
       height: 360px;
       width: 20%;
       overflow: hidden;
       float: right;
       background-color: #ECECFB;
       border: thin solid #333;
       border-left: none;
       }
    </style>
  </head>
  <body dir="rtl">
    <div id="map"></div>
    <div id="capture"></div>
    <script>
      var map;
      var src = 'https://lev-crm.herokuapp.com/static/edu.kml';

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(32.086231380, 34.784734),
          zoom: 2,
          mapTypeId: 'terrain'
        });

        var kmlLayer = new google.maps.KmlLayer(src, {
          suppressInfoWindows: true,
          preserveViewport: false,
          map: map
        });
        kmlLayer.addListener('click', function(event) {
          var content = event.featureData.infoWindowHtml;
          var testimonial = document.getElementById('capture');
          testimonial.innerHTML = content;
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW1RIdHnV35WBo6NSsE_5zHRRWIcsiT70&language=he&callback=initMap">
    </script>
  </body>
</html>
